.container {
  background-color: lightblue;
  width: 1100px;
  height: 700px;
  margin-top: 25px;
}

.contact_text {
	width: 200px; 
	display: inline-flex;
}

.check_icon {
	color: black;
	font-size: 13pt;
}

.message {
	
}

.message_out {
	background-color: lightblue;
}

.message_in {
	background-color: lightgreen;
}

/* ==================== ADMIN ==================== */

.container_admin {
  background-color: lightblue;
  width: 1100px;
  height: 900px;
  margin-top: 25px;
  margin: auto;
}

/* ================ Commons =============== */

.button_not_selected {
}

.button_selected {
	background-color: red;
}

.add_user_row {
	margin: 2px;
}
