<div class="container">

	<!-- TITLE BAR -->
	<div style="height: 50px; background-color: green; margin-top: 10px;"> <h2 style="text-align: center;"> {{appName}} </h2> </div>

	<!-- MAIN PANEL (CONTACTS PANEL + MESSAGES PANEL) -->
	<div>

		<!-- CONTACTS PANEL -->
		<div style="background-color: red; width: 300px; height: 600px; margin-top: 20px; float: left; overflow: auto;">
			<div *ngFor="let contact of contacts; index as idx;">
				<button class="btn btn-secondary" style="margin: 10px; width: 220px; text-align: left;" (click)="onSelectContact(idx)">{{contact.userName}}</button>
				<i class="glyphicon glyphicon-remove" style="font-size: 15pt;" (click)="onRemoveContact(idx)"></i>
			</div>		    
		</div>
		
		<!-- MESSAGES PANEL -->

		<div style="background-color: blue; width: 760px; height: 600px; margin-top: 20px; margin-left: 10px; float: left;">
		 
			<!-- RECEIVER LIST -->
			<div style="background-color: white; width: 740px; height: 50px; margin-top: 20px; margin-left: 10px; float: left; display: inline-flex;">
				<div style="background-color: yellow; ">Receivers: </div>
				<div style="margin-left: 5px;" *ngFor="let receiver of receivers"> <!-- recievers list -->
					<span> {{receiver.userName}} </span>
				 </div>
			</div>
			
			<!-- CONVERSATION VIEW -->
			<div style="background-color: white; width: 740px; height: 420px; margin-top: 20px; margin-left: 10px; float: left; overflow: auto;">
			
			 	<div *ngFor="let message of messages">

					<div style="border:2px solid black; margin: 5px;" class="message message_{{message.direction}}">
						<div style="text-align: center;"> {{message.receiver}} </div>
						<div style="background-color: white;"> {{message.text}}  </div>
					</div>
			
				</div>
							
			</div>
			
			<!-- MESSAGE INPUT -->
			<div >
				<div style="background-color: white; width: 650px; height: 50px; margin-top: 20px; margin-left: 10px; float: left; overflow: auto;" contenteditable="true" #messageTextInput> </div>
				<button style="margin-left: 10px; margin-top: 25px;" class="btn btn-primary" (click)="onSendMessage()">Send >></button>
			</div>
		    
		</div>
		
		<div style="clear: left;"></div>
		
	</div>
	
</div>

<div class="container_admin">

	<!-- TITLE BAR -->
	<div style="height: 50px; background-color: green; margin-top: 10px;"> <h2 style="text-align: center;"> Admin </h2> </div>

	<div style="border: 1px solid black; margin: 10px; padding: 5px;">
		<h3> Add User </h3>
		<table>
			<tr>
				<td style="width: 100px;">User Name</td> <td> <input type="text" #userNameInput /> </td>
			</tr>
			<div style="height: 5px;"></div> 
			<tr>
				<td>Email</td> <td>  <input type="text" #emailInput />  </td>
			</tr>
			<div style="height: 5px;"></div> 
			<tr>
				<td>Name</td> <td>  <input type="text" #nameInput />  </td>
			</tr>
			<div style="height: 5px;"></div> 
			<tr>
				<td>Surename</td> <td>  <input type="text" #surnameInput />  </td>
			</tr>
		</table>
		<div style="height: 5px;"></div> 
		<button style="margin-left: 190px;" class="btn btn-primary" (click)="onAddUser()">Add User</button>
	</div>

	<div style="border: 1px solid black; margin: 10px; padding: 5px;">
		<h3> All Users </h3>
		<div *ngFor="let user of users; index as idx;">
			<div style="margin-top: 5px; border-bottom: 2px solid black;"> 
				<div class="contact_text">{{user.userName}}</div> 
				<div class="contact_text">{{user.email}}</div> 
				<div class="contact_text">{{user.name}}</div> 
				<div class="contact_text">{{user.surname}}</div> 
				<button style="margin-left: 10px;" class="btn btn-primary" [ngClass] = "styleSelected(user)" (click)="onAddUserToContacts($event, idx)">Add To Contacts</button>
			</div>
		</div>
	</div>	
	
</div>
